/* RESETS */

* {
	margin:0px;
	padding:0px;
}

a:link, 
a:visited,
a:link img, 
a:visited img {
	text-decoration:none;
	outline:none;
}

/* BODY CSS */

body {
	background:#f7f7f7;
	color:#333;
	text-align:center;
}

h1 {
	margin:20px 0px;
	font-family:helvetica,arial,sans-serif;
}

#thumbnails {
	margin:0px auto 20px;
	width:960px;
}

#thumbnails li {
	display:inline;
	width:300px;
	height:300px;
}

#thumbnails a, #thumbnails img {
	margin:1px;
	width:inherit;
	height:auto;
	opacity:.95;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-transition:opacity .2s ease-in-out;
	-moz-transition:opacity .2s ease-in-out;
	-ms-transition:opacity .2s ease-in-out;
}

#thumbnails a:hover {
	opacity:1;
}

/* LIGHTBOX CSS */

#lightbox {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.9);
	text-align:center;
	color:#fff;
}
#lightbox img {
	position:absolute;
	left:50%;
	margin:0px 0px 0px -306px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

.prev, .next {
	position:fixed;
	top:300px;
	text-decoration:underline;
	color:#fff;
	font-family:helvetica;
	font-size:14pt;
}

.prev {
	left:20px;
}

.next {
	right:20px;
}

@media only screen and (max-device-width:767px) {
	
	#thumbnails {
		width:100%;
	}

	#thumbnails li {
		width:95%;
		height:auto;
	}

	#thumbnails img {
		margin:0px auto 10px;
	}

	#lightbox img { 
		position:relative;
		left:0;
		margin:15px auto 0px;
		width:90%;
		height:auto;
	}

	.prev, .next { 
		display:none;
	}

}